/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
input,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
