/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
   .login{
      justify-content: center;

      &__form{
         width: 420px;
         padding-inline: 2.5rem;
      }
      &__title{
         margin-bottom: 2rem;
      }
   }
}
